.header ul{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}


.header a{
  text-decoration: none;
  color: rgb(224,122,246);
  width: 100%;
}

.header li{
  list-style: none;
}

.top_img{
  
}

.top{
  width: 100%;
  margin:0;
  padding:0;
  margin: center;
  
  background-color: rgb(242,243,237);
}


.about{
  margin:0;
  padding:0;
  background-color: rgb(242,185,194);
  width: 100%;
  max-width: 1920px;
  min-width:1000px;
  
  @media screen and (max-width: 768px) {
    background-color: rgb(242,185,194);
    margin:auto;
    padding: auto;
  }
}

.about_title{
  color: white;
  text-align: center;
  font-size: 500%;
  font-family: 'Vollkorn', serif;
  margin: 0;

  
  @media (max-width: 768px) {
    margin:auto;
    text-align: center;
  }
 
}

.about_main{
  height: 500px;
  width: 355px;
  background-color: rgb(242,185,194);
  padding: 26px;
  margin: 18px;
  margin-bottom: 20px ;
  border-radius: 5px;
  overflow: hidden;
  color: rgb(143,115,86);
  font-size: 130%;
  
  font-family: sans-serif;
  max-width: 1920px;
}

.about_img{
  float: right;
  max-width : 100% ;
  height : auto ;

  
}

.skill{
  height: 100%;
  width: 100% ;
  margin:0;
  padding:0;
  background-color: rgb(242,243,237);
  max-width: 1920px;
  
  @media screen and (max-width: 768px) {
    background-color: rgb(242,243,237);
    margin:auto;
    padding: auto;
  }
}

.skill_title{
  color:  rgb(242,185,194);
  text-align: center;
  font-size: 500%;
  font-family: 'Vollkorn', serif;
  margin: 0;
  max-width: 1920px;
  
  @media screen and (max-width: 768px) {
    text-align: center;
    margin:auto;
    
  }
}

.skill_main{
  color: rgb(143,115,86);
  padding: 0 200px 0 200px;
  min-width: 500px;
  margin: auto;
  font-family: sans-serif;
  max-width: 1920px;
  @media screen and (max-width: 768px) {
    padding: 0 20px 0 20px;
    margin:auto;
    
  }
}

.article {
  
  margin: auto;
  background-color: #fff;
  display: flex;
  margin-bottom: 10px ;
  border-radius: 5px;
  overflow: hidden;
  max-width: 1920px;
  
  @media screen and (max-width: 768px) {
    text-align: center;
    margin:auto;
    
  }
}

.article-image {
  height: 100px;
  width: 100px;
  background-color: #eee;
}

.article-image .image {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px auto;
   
  transition: 10s;          
}

.article-image .image:hover {
  transform: rotate(360deg);  /* マウスオーバー時に回転 */
}

.article-text {
  height: 80px;
  width: 700px;
  background-color:#fff;
  padding: 4px;
}

